.container {
    background-color: #E8EAED;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.separator {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchInput {
    margin-left: 5em;
    width: 60%;
    height: 2.5em;
    padding: 12px;
    border: 0.4px solid #7a7a7a;
    border-radius: 20px;
}

@media screen and (max-width: 1640px){
    .searchInput {
        width: 205px;
    }
}